.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-header-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-Title {
  font-size: calc(30px + 2vmin);
  color: white;
  text-align: left;
}

.searchbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.searchbox-input{
  font-size: 0.7em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #EAEAEA;
}

.Content {
  background-color: #FFF;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.Selector {
  flex: 70px 0 0;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  background-color: #EAEAEA;
  border-right: 1px black solid;
}

.Station {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 1.8em;
}

.UserContent {
  flex: 100% 1 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  padding: 10px 20px;
}

.Selected {
  position: relative;
  left: 1px;
  vertical-align: center;
  text-align: center;
  border: 1px black solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px white solid;
  background-color: #FFF;
}

.NotifText {
  font-size: .8em;
  text-align: left;
  margin-bottom: 5px;
}

.subtitle {
  text-align: left;
  font-family: monospace;
  font-size: 30px;
}
