a {
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #73b2fb;
}

time {
  display: block;
}

.app {

}

.app-header {
  background-color: #282c34;
  height: calc(40px + 2vmin);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-header-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#app-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: 100%;
}

#app-logo {
  width: calc((2vmin + 30px) * 350 / 240);
  height: auto;
}

.app-title {
  font-size: calc(30px + 2vmin);
  min-width: 315px;
  color: white;
  text-align: left;
}

.col {
  flex: 100% 1 1;
}

.content {
  background-color: #73b2fb;
  width: 90%;
  min-width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 30px;
}

.content-header {
  display: flex;
  flex-direction: row;
}

.dot-loader{
height: 5px;
width: 5px;
border-radius: 50%;
background-color: #282c34;
position: relative;
-webkit-animation: 1.2s scaleDown ease-in-out infinite ;
animation: 1.2s scaleDown ease-in-out infinite ;
}

.dot-loader:nth-child(2){
margin: 0 15px;
-webkit-animation: 1.2s scaleDown ease-in-out infinite .15555s;
animation: 1.2s scaleDown ease-in-out infinite .15555s;
}

.dot-loader:nth-child(3){
-webkit-animation: 1.2s scaleDown ease-in-out infinite .300000s;
animation: 1.2s scaleDown ease-in-out infinite .300000s;
}

@-webkit-keyframes scaleDown{
0%, 80%, 100%{
-webkit-transform: scale(0);
        transform: scale(0);
}
40%{
-webkit-transform: scale(1);
        transform: scale(1);
}
}

@keyframes scaleDown{
0%, 80%, 100%{
-webkit-transform: scale(0);
        transform: scale(0);
}
40%{
-webkit-transform: scale(1);
        transform: scale(1);
}
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  padding: 5px 0px;
  color: #fff;
  font-size: 0.7em;
  background-color: #282c34;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #DDD;
}

.footer-content {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.fullborder {
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  border-left: 1px black solid;
}

h1 {
  border-bottom: 1px #DDD solid;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

.lds-ring {
  display: block;
  position: relative;
  margin: 50px auto ;
  width: 95px;
  height: 95px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 6px;
  border: 6px solid #73b2fb;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #73b2fb transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.margin-6225 {
  margin-left: 62.25px;
  border-left: 1px solid black;
}

.navbar-content {
  position: sticky;
  top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.notif-text {
  font-size: .8em;
  text-align: left;
  margin-bottom: 5px;
}

p {
  margin-bottom: 0;
}

#root {
  position: relative;
  min-height: 100%;
}

.searchbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75vmin;
  max-width: 300px;
  min-width: 200px;
  max-height: 30px;
}

.searchbox-input{
  font-size: 16px;
  width: 60%;
  border-radius: 3px;
  border: none;
  padding: 5px;
}

.searchbox-button {
  background-color: #EEE;
  width: 30%;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}

.searchbox-button:hover {
  background-color: #FFF;
}

.searchbox-button:active {
  background-color: #DDD;
}

.station {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 1px;
  background-color: #F1F1F1;
  color: #000;
  height: 1.8em;
  border: 1px black solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1;
}

.station-selected {
  vertical-align: center;
  text-align: center;
  border: 1px black solid;
  border-right: 1px white solid;
  background-color: #FFF;
  -moz-box-shadow:    -2px 2px 2px 0px #777;
  -webkit-box-shadow: -2px 2px 2px 0px #777;
  box-shadow:         -2px 2px 2px 0px #777;
  z-index: 2;
}

.station-name {
  font-family: monospace;
  font-size: 40px;
}

.subtitle {
  text-align: left;
  font-family: monospace;
  font-size: 30px;
}

.timestamp {
  margin: auto;
  position: relative;
  right: 5%;
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.timestamp-names {
  text-align: right;
  margin-right: 10px;
}

.timestamp-time {
  text-align: left;
}

.metar-rvr {
  display: flex;
}

.user-content {
  flex: 100% 1 1;
  display: flex;
  background-color: #FFF;
  flex-direction: column;
  align-content: center;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  padding: 10px 20px;
}

#navbar {
  flex: 70px 0 0;
  padding-top: 55px;
  border-right: 1px black solid;
}

#rvr {
  display: flex;
  flex-shrink: 0;
  max-height: 300px;
  max-width: 300px;
  margin-left: 10px;
}

.metar-rvr {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .metar-rvr {
    flex-direction: column;
  }
  #rvr {
    margin: auto;
  }
}

@media only screen and (max-width: 700px) {
  .app-header {
    height: calc(12vmax);
  }

  .app-title {
    min-width: 0;
    width: 100%;
  }

  #app-info {
    justify-content: center;
    height: calc(5vmax);
  }

  .app-header-content {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 600px) {
  .timestamp {
    margin: auto;
    position: inherit;
  }

  .content-header {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 440px) {
  #app-logo {
    height: 100%;
  }

  .app-title {
    display: none;
  }

  .content {
    flex-direction: column;
    width: 100%;
    min-width: inherit;
    padding-bottom: 79px;
  }

  .footer-content {
    margin: auto;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .footer-item {
    margin: 2px 0px;
  }

  .margin-6225 {
    margin-left: 0;
    border-left: 1px solid black;
  }

  .navbar-content {
    display: flex;
    flex-direction: row;
  }

  .station {
    left: 0px;
    flex: 1 0 80px;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .station-name {
    display: none;
  }

  .station-selected {
    font-weight: bold;
    border: 0 0 2px 0 black solid;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
  }

  .timestamp {
    margin: auto;
    position: inherit;
    z-index: auto;
  }

  .user-content {
    border: none;
  }

  #navbar {
    position: sticky;
    top: 0;
    padding-top: 0;
    background-color: #F1F1F1;
    border: none;
    border-bottom: 5px white solid;
    flex: 100% 1 1;
    overflow: auto;
    white-space: nowrap;
    justify-content: left;
  }

  #rvr {
    flex: none;
    max-width: 100%;
    max-height: 100%;
  }
}
