html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #73b2fb;
}

time {
  display: block;
}

#root {
  position: relative;
  min-height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-header-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

.App-Title {
  font-size: calc(30px + 2vmin);
  color: white;
  text-align: left;
}

.Col {
  flex: 100% 1 1;
}

.Content {
  background-color: #73b2fb;
  width: 90%;
  min-width: 440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding-bottom: 30px;
}

.Content-Header {
  display: flex;
  flex-direction: row;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 5px 0px;
  color: #fff;
  font-size: 0.7em;
  background-color: #282c34;
}

.Footer a {
  color: #fff;
}

.Footer a:hover {
  color: #DDD;
}

.Footer-content {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.fullborder {
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  border-left: 1px black solid;
}

.Navbar-Content {
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
}

.NotifText {
  font-size: .8em;
  text-align: left;
  margin-bottom: 5px;
}

.searchbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.searchbox-input{
  font-size: 0.75em;
}

.searchbox-button {
  background-color: #FFF
}

.Station {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 1px;
  background-color: #F1F1F1;
  color: #000;
  height: 1.8em;
  border: 1px black solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1;
}

.Selected {
  vertical-align: center;
  text-align: center;
  border: 1px black solid;
  border-right: 1px white solid;
  background-color: #FFF;
  -moz-box-shadow:    -2px 2px 2px 0px #777;
  -webkit-box-shadow: -2px 2px 2px 0px #777;
  box-shadow:         -2px 2px 2px 0px #777;
  z-index: 2;
}

.StationName {
  font-family: monospace;
  font-size: 40px;
}

/* .sticky {
  position: fixed;
  flex: 70px 0 0;
  display: flex;
  flex-direction: column;
  background-color: #73b2fb;
  border-right: 1px black solid;
} */

.subtitle {
  text-align: left;
  font-family: monospace;
  font-size: 30px;
}

.Timestamp {
  margin: auto;
  position: relative;
  right: 5%;
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.Timestamp-names {
  text-align: right;
  margin-right: 10px;
}

.Timestamp-time {
  text-align: left;
}

.Metar-RVR {
  display: flex;
}

.UserContent {
  flex: 100% 1 1;
  display: flex;
  background-color: #FFF;
  flex-direction: column;
  align-content: center;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  padding: 10px 20px;
}

#navbar {
  flex: 70px 0 0;
  padding-top: 55px;
  border-right: 1px black solid;
}

#RVR {
  display: flex;
  flex-shrink: 0;
  max-height: 300px;
  max-width: 300px;
}

@media only screen and (max-width: 600px) {
  .Timestamp {
    margin: auto;
    position: inherit;
  }

  .Content-Header {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 440px) {
  .App-header-content {
    flex-direction: column;
  }

  .Content {
    flex-direction: column;
    width: 100%;
    min-width: inherit;
  }

  .Footer-content {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .Navbar-Content {
    display: flex;
    flex-direction: row;
  }

  .Footer-item {
    margin: 2px 0px;
  }

  .searchbox {
    margin-bottom: 10px;
  }

  .Selected {
    font-weight: bold;
    border: 0 0 2px 0 black solid;
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
  }

  .Station {
    left: 0px;
    flex: 1 0 80px;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .StationName {
    display: none;
  }

  .Timestamp {
    margin: auto;
    position: inherit;
    z-index: auto;
  }

  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */

  .UserContent {
    border: none;
  }

  #navbar {
    position: sticky;
    top: 0;
    padding-top: 0;
    background-color: #F1F1F1;
    border: none;
    border-bottom: 5px white solid;
    flex: 100% 1 1;
    overflow: auto;
    white-space: nowrap;
    justify-content: left;
  }

  #RVR {
    flex: none;
    max-width: 100%;
    max-height: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .Metar-RVR {
    display: flex;
    flex-direction: column;
  }
  #RVR {
    margin: auto;
  }
}

@media only screen and (min-width: 801px) {
  .Metar-RVR {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
