node_modules

# Server Dependencies
/server/node_modules

# Client Dependencies
/client/node_modules

# Code Coverage
/client/coverage

# DS_store
.DS_Store

# Logs
*.log
yarn-error.log

# Workspace
*.code-workspace
.vscode

# Redis snapshots
*.rdb
